@tailwind base;
@tailwind components;
@tailwind utilities;

.primary_font {
  font-family: "Poppins", sans-serif;
}

.secondary_font {
  font-family: "Inter", sans-serif;
}

.pattern {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#7e22ce 0.65px, #ffffff 0.65px);
  background-size: 13px 13px;
}
